/* COLORS
WHITES: #FFF


BLACKS: #222327
#222831


GRAY: GRAY, #DFE3E6


ORANGE-RED: #FF2E63


DARK-BLUE: #050A30
*/

// html {
//   font-size: 62.5%;
// }
$white-color: #fff;
$dark-color: #222327;
$dark-light: #222831;
$primary-color: #222831;
$secondary-color: #ff2e63;
$show-home-image: true;
// $home-image: url(/dist//img/kevin-ku-364843-unsplash.jpg);
$home-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.534),
    rgba(0, 0, 0, 0.938)
  ),
  url(/dist/img/kevin-ku-364843-unsplash.jpg);
$background-opacity: 0.9;

@mixin easOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Mixing for media querries
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

// Locks screen orientation on mobile landscape mode
// @media screen and (max-width: 640px) and (orientation: landscape) {

//   body {
//     height: 100vw;
//     transform: rotate(90deg);
//     overflow: hidden;
//   }
// }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    font-size: 60%;
  }
}
