@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.4);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      .social__icon {
        width: 3rem;

        &:hover {
          transform: translateY(-1rem) scale(1.05);
          transition: all 0.5s;
          // @include easOut();
        }
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  max-width: 75rem;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    width: 17rem;
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// PORTFOLIOS
.projects {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .img-card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.5s ease-in-out;

    &--title {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      opacity: 0;
      transition: all 0.5s ease-in-out;

      & h2 {
        color: #117;
        text-align: center;
      }
      & p {
        color: $secondary-color;
      }
    }

    &:hover {
      background: #fff;
      background-image: none;
      transition: all 1s ease-in;
    }
    &:hover .img-card--title {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    &:hover .img-card--description {
      opacity: 1;
      transition: all 0.5s ease-in;
    }

    &--description {
      color: #222327;
      // font-size: 1rem;
      text-align: center;
      padding: 5rem;
      // margin: 4rem 0;
      opacity: 0;
      transition: all 0.2s ease-in;
    }

    &:hover .infolink {
      bottom: 2rem;
      left: 50%;
      opacity: 1;
      transform: translate(-50%);
      transition: all 0.5s ease-in-out;
    }

    .infolink {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
      transition: all 0.1s ease-in-out;

      & a {
        border: 2px solid #ff2e62;
        padding: 1rem 3rem;
        // font-size: 2rem;
        text-decoration: none;
        text-align: center;
        color: #222327;
        transition: all 0.5s ease-in;

        &:hover {
          background-color: #ff2e62;
          /* border: none; */
          color: #f1f1f1;
          transition: all 0.5s ease-in;
        }
      }
    }
  }

  .img-card--1 {
    background-image: url(/dist/img/projectsho3.png);
  }

  .img-card--2 {
    background-image: url(/dist/img/projectsho3.png);
  }

  .img-card--3 {
    background-image: url(/dist/img/projectsho3.png);
  }

  .img-card--4 {
    background-image: url(/dist/img/projectsho3.png);
  }

  .img-card--5 {
    background-image: url(/dist/img/projectsho3.png);
  }

  .img-card--6 {
    background-image: url(/dist/img/projectsho3.png);
  }
}

// CONTACT PAGE
#contact {
  background-color: #222831;
}

.contact-container {
  width: 80%;
  margin: 0 auto;

  .contact-header {
    .lg-heading {
      font-family: "Playfair Display";
      font-size: 4rem;
      text-align: center;
      padding: 3rem;
      background-color: #ff2e63;
      background-image: linear-gradient(45deg, #ff2e62 0%, #050a30 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    .sm-heading {
      background-color: #dfe3e6;
      padding: 5rem;
      margin-bottom: 2rem;

      .contact-note {
        color: #111;
      }
    }
  }

  .footer-social--cover {
    display: flex;
    justify-content: space-around;

    input:focus {
      outline: none;
      color: #f1f1f1;
    }
    .footer-contact {
      width: 63%;
      // max-width: 40rem;
      background-color: #222327;
      border-radius: 1.2rem;

      .contact-form {
        display: flex;
        flex-flow: column wrap;

        .forms {
          display: flex;

          & input:focus ~ label,
          & input:focus ~ :valid {
            top: 0.3rem;
            left: 0;
            font-size: 0.3rem;
            opacity: 0;
          }
          .form-name,
          .form-email {
            position: relative;
            width: 50%;
          }

          .form-input {
            width: 86%;
            margin: 2rem;
            padding: 1rem;
            background: inherit;
            padding: 1rem 0;
            border: none;
            border-bottom: 0.3rem solid grey;
            text-transform: capitalize;
            font-family: "Playfair Display";
            font-size: 1.8rem;
            color: white;
          }
          & label {
            position: absolute;
            top: 1.5rem;
            left: 0.7rem;
            padding: 1rem;
            font-size: 1.3rem;
            text-transform: capitalize;
            font-family: "Playfair Display";
            color: grey;
            pointer-events: none;
            transition: 0.5s;
          }
        }

        textarea {
          // margin: 0 auto;
          // width: 90%;
          border: none;
          font-family: "Playfair Display";
          font-size: 1.3rem;
          border-bottom: 0.3rem solid grey;
          background: inherit;
          text-transform: capitalize;
          margin: 8rem 2rem;
          transition: 0.5s;

          &:focus {
            outline: none;
            color: #f1f1f1;
            transition: 0.5s;
          }
        }

        :focus::-webkit-input-placeholder {
          top: 3rem;
          left: 0;
          font-size: 0.5rem;
          transition: 0.5s;
        }

        .btn-input {
          font-size: 1.2rem;
          font-weight: 200;
          font-family: "Cardo", serif;
          letter-spacing: 0.3rem;
          border: none;
          align-self: center;
          background-image: linear-gradient(45deg, #ff2e62 0%, #050a30 100%);
          background-position: right center;

          color: #dfe3e6;
          text-transform: uppercase;
          border-radius: 10rem;
          padding: 1.2rem 4.5rem;
          cursor: pointer;
          transition: all 0.2s linear;

          &:hover {
            transform: translateY(-3px);
          }
        }
      }
    }

    .footer-social {
      // padding: 3rem;
      // width: 35%;
      max-width: 23rem;
      border-radius: 2rem;
      background-color: #222327;
      color: #dfe3e6;

      & h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-family: "Playfair Display";
        padding: 0 1rem;
        padding-top: 2rem;
      }
      & p {
        font-size: 1.2rem;
        font-family: "Cardo", serif;
        margin-bottom: 5rem;
        padding: 0 1rem;
      }

      .social-media {
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        .social__icon--box {
          width: calc(100% / 2);
          // height: 7rem;
        }

        .social__icon {
          width: 50%;
          height: 50%;
          transition: all 0.3s;

          &:hover {
            transform: translateY(-1rem) scale(1.05);
          }
        }
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
